.faq{
    list-style: none;
    cursor: pointer;
}
.faqQuestionContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 25px 0 16px 0;
}
.faqQuestion{
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
/* or 38px */

text-align: center;
letter-spacing: 0.02em;

color: rgba(255, 255, 255, 0.7);

}
.faqBtn{
    width: 40px;
height: 40px;
background: transparent;
border: none;
color: rgba(255, 255, 255, 0.7);
font-size: 24px;
transition: .5s;
}
.activeFaq{
    transform: rotate(45deg);
    transition: 0.5s;
}
.faqAnsContainer{
height: 208px;
transform: skew(-23deg);
padding: 1rem;

/* Linear */

background:rgba(255, 68, 0, 0.496);
border-top: 2px solid rgba(255, 255, 255, 0.7);
}
.faqAns{

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 171%;
/* or 31px */

letter-spacing: 0.02em;

color: #FFFFFF;
}